ody {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 85%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border: 3px solid #4a90e2;
}

.header-box {
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 21%;
    height: 180px;
    object-fit: cover;
    border: 3px solid #444;
}
.container{
    background-color: beige;
}
